<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>img list</title>
    
    <link href="http://jic.makepolo.net/css/admin/css.css" rel="stylesheet" type="text/css" />
    <link href="http://jic.makepolo.net/css/admin/admin.css" rel="stylesheet" type="text/css" />
    <link href="http://jic.makepolo.net/css/admin/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://jic.makepolo.net/js/jquery/jquery-1.4.2.js"></script>
</head>
<body>
<form action="/app1/add/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="maink">
<table width="100%" border="0" cellspacing="0" cellpadding="10" class="listsearch">
    {{ form }}
<tr><td><input type="submit" value="submit"/></td></tr>
</table>
</div>
</form>
</body>
</html>